{% extends 'core/base.html' %}

{% load static %}

{% block staticfiles %}
<link href="{% static 'core/css/level.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="juego-container">
    <canvas id="game" width="800" height="400"></canvas>
</div>
<div class="gameover-container" id="gameover-container">
    <div class="gameover">
        <h1>Game Over</h1>
        <form action="juego.jsp" method="POST">
            <div>
                <p>Puntuaje:</p><input type="text" name="score" id="scorefail" readonly>
            </div>
            <div><button type="submit">Guardar</button></div>
        </form>
        <p class="repeat">Preiona R para reiniciar</p>
    </div>
</div>
<div class="win-container" id="win-container">
    <div class="win">
        <h1>Ganaste</h1>
        <form action="juego.jsp" method="POST">
            <div>
                <p>Puntuaje:</p><input type="text" name="score" id="scorewin" readonly>
            </div>
            <div><button type="submit">Guardar</button></div>
        </form>
        <p class="repeat" id="repeat">Espere...</p>
    </div>
</div>
<div class="levelinfo1">
    <p class="level-info-planet" id="level-info-planet"></p>
    <p class="levelinfo-level">Nivel:</p>
    <p class="level-info-number" id="level-info-number"></p>
</div>
<div class="levelinfo2"></div>
<div class="mission-info-container" id="mission-info-container">
    <div class="mission-info" id="mission-info"></div>
</div>
<div class="municion-container">
    <p>Municion: &nbsp;</p><input type="text" class="municion" id="municion" >
</div>
<div class="question-container" id="question-container">
    <div class="preguntas-square">
        <h1>Resolver operacion para municion:</h1>
        <p class="problema" id="problema"></p>
        <div>
            <p>Respuesta:</p><input type="text" id="respuesta">
        </div>
    </div>
</div>
{% endblock %}

{% block jsfiles %}
<script src="{% static 'core/js/levels/jupiter.js' %}"></script>
{% endblock %}